body {
	margin: 0;
	background-color: #000;
	font-family: droid sans mono, monospace;
	font-size: 16px;
}

canvas {
	display: block;
	margin: auto;
	opacity: 1;
	-webkit-transition: opacity 3s;
	-moz-transition: opacity 3s;
	-ms-transition: opacity 3s;
	-o-transition: opacity 3s;
	transition: opacity 3s;
}

pre, pre a {
	color: mediumpurple;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

pre span, pre a {
	font-size: 16px;
}

table {
	margin: auto;
	font-size: 18px;
}

table td {
	text-align: center;
	cursor: pointer;
	padding: 1em 2em;
	font-weight: bold;
}

table span {
	font-size: 1000%;
	display: block;
	font-weight: normal;
}

div span{
	color: #17ff25;
	margin: 5px;
}

.warrior {
	color: #fff;
}

.mage {
	color: #888;
}

.archer {
	color: #888;
}

.necro {
	color: #888;
}


.warrior:hover {
	text-shadow: 0 0 2em #33f;
}

.mage:hover {
	text-shadow: 0 0 2em #f33;
}

.archer:hover {
	text-shadow: 0 0 2em #17ff25;
}

.necro:hover{
	text-shadow: 0 0 2em #d311ff;
}

.interface {
	width: 260px;
	height: 100%;
	background-color: #333;	
	float: left;
	position: relative;
	display: inline-block;
	overflow-y: auto;
	overflow-x: hidden;
	
	/* border-right: 1px #111 solid; */
	border-bottom: 0px;
	margin-right:2px;
	
	background: #000;
	/* 
	background: #333;
	background: -moz-linear-gradient(left, #333 0%, #000 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333), color-stop(100%,#000));
	background: -webkit-linear-gradient(left, #333 0%,#000 100%);
	background: -o-linear-gradient(left, #333 0%,#000 100%);
	background: -ms-linear-gradient(left, #333 0%,#000 100%);
	background: linear-gradient(to right, #333 0%,#000 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333', endColorstr='#000',GradientType=1 ); */
}

.hide{
	display: none;
}

#armor, 
#weapon, 
#stats,
#defense,
#attack {
	text-align: left;
	color: #DEDEDE;
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 15px;
	padding: 8px 15px 15px 15px;
	margin: 4px 5px;
	background-color: rgba(34,34,34,0.125);
	border: 1px rgba(34,34,34,0.75) solid;
	margin-bottom: 0px;
}